<!DOCTYPE html>
<html>
	<head>

		<!-- Main CSS -->
		<link rel="stylesheet" type="text/css" href="../src/css/frontend/main.css">

		<!-- RequireJS -->
		<script src="../src/js/frontend/require.js"></script>

	</head>
	<body class="mvt-app mvt-25">

		<script>
			requirejs(['../src/js/frontend/config'],() => {
				requirejs(['moment','jQuery','app','owl','calendar','appointment'],
				(moment) => {
					let app = new App(), appointment = new Appointment();
					window.moment = moment;
					app.init({'type':'frontend'});
					appointment.init();
				});
			});
		</script>

	</body>
</html>