<!DOCTYPE html>
<html>
	<head>

		<!-- Main CSS -->
		<link rel="stylesheet" type="text/css" href="../src/css/frontend/main.css">

		<!-- Google Maps -->
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&amp;key=000000"></script>

		<!-- RequireJS -->
		<script src="../src/js/frontend/require.js"></script>

	</head>
	<body class="mvt-app mvt-25">

		<script>
			requirejs(['../src/js/frontend/config'],() => {
				requirejs(['progress','moment','jQuery','mask','datetimepicker','app','api','geocomplete','messenger','owl','patient','searcher','jSignature','sign','qstn'],
				(progress,moment) => {
					var app = new App(), messenger = new Messenger(), patient = new Patient();
					window.progress = progress;
					window.moment = moment;
					messenger.init();
					app.init({'type':'frontend'});
					patient.init();
				});
			});
		</script>

	</body>
</html>
